body {
    background: url('../img/bg.jpg') repeat;
}

.main {
    margin: 30px;
}

.bg_main {
    background-color: #ffffff;
}

.commit {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

